/*
 * Device Tree Overlay for Macronix MX25L51245GZ2I-08G NOR Flash
 * boards/nrf52832_ev_bc832.overlay
 */

&pinctrl {
	spi0_flash: spi0_flash {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 25)>,
				<NRF_PSEL(SPIM_MOSI, 0, 23)>,
				<NRF_PSEL(SPIM_MISO, 0, 24)>;
		};
	};

	spi0_flash_sleep: spi0_flash_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 25)>,
				<NRF_PSEL(SPIM_MOSI, 0, 23)>,
				<NRF_PSEL(SPIM_MISO, 0, 24)>;
			low-power-enable;
		};
	};
};

&spi0 {
    compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi0_flash>;
	pinctrl-1 = <&spi0_flash_sleep>;
	pinctrl-names = "default", "sleep";

    cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
};

/*
 * I2C Configuration for DS3231 RTC
 * Adjust pin numbers according to your hardware connection
 */

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_FAST>;  /* 400kHz */

	ds3231: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		label = "DS3231";
	};
};
