// Copyright (c) 2024 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52840_qfaa.dtsi>
#include "nrf52840_magpie-pinctrl.dtsi"

/ {
	model = "nrf52840_magpie";
	compatible = "fanstel,nrf52840-magpie";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
			label = "Blue LED 0";
		};
		led1: led_1 {
			gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
			label = "Red LED 1";
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		redled = &led1;
		blueled = &led0;
		bootloader-led0 = &led0;
		mcuboot-led0 = &led0;
		watchdog0 = &wdt0;
		qspi-flash0 = &mx25l51245g;
		spi-flash0 = &mx25l12845g;
		rtc = &ds3231;
	};

	/* GPIO configuration for SPIFX additional pins (SDIO2 and SDIO3) */
	spifx_extra_gpios {
		compatible = "gpio-keys";
		spifx_io2: spifx_io2 {
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
			label = "SPIFX SDIO2";
		};
		spifx_io3: spifx_io3 {
			gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
			label = "SPIFX SDIO3";
		};
	};
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	status = "okay";
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	
	ds3231: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
		status = "okay";
	};
};

/* QSPI interface for mx25l51245gz2i-08g (64MB) */
&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	
	mx25l51245g: mx25l51245gz2i08g@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		/* MX25L51245G supports up to 133MHz */
		sck-frequency = <32000000>;
		quad-enable-requirements = "S1B6";
		jedec-id = [c2 20 1a];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
			30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
		];
		size = <536870912>;  /* 64MB = 512Mbit */
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

/* SPI1 interface for mx25l12845gz2i-08g (16MB) - will be used in QSPI mode via software */
&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	
	mx25l12845g: mx25l12845gz2i08g@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <32000000>;
		jedec-id = [c2 20 18];
		size = <134217728>;  /* 16MB = 128Mbit */
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0x10000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x10000 0x70000>;
		};
		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x80000 0x70000>;
		};
		scratch_partition: partition@f0000 {
			label = "image-scratch";
			reg = <0xf0000 0x8000>;
		};
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0xf8000 0x8000>;
		};
	};
};
